<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="SqlClient" value="System.Data.SqlClient"/>
		<add key="OleDb" value="System.Data.OleDb"/>
	</appSettings>

	<connectionStrings>
		<add name="SqlClientConnStr"
			 connectionString="Server=VLADIMIR\SQLEXPRESS;
							   Database=MCS1;
							   User Id=ova;
							   Password=123;"/>
		
		<add name="OleDbConnStr"
			 connectionString="Provider=Microsoft.Jet.OLEDB.4.0;
							   Data Source=C:\Users\Vladimir\source\repos\ADO.NET_hw_lesson4\DataBase\accessDb_00.mdb;
							   User Id=admin;
							   Password=;"/>
	</connectionStrings>
	
</configuration>